@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header{
  display: block;
    background-color: #000000;
    width:100%;
    height: 80px;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}


ul {
  display: inline-block;
  list-style-type: none;
  text-align: center;
  background-color: #000;
}

li a {
  color: #ffffff;
  padding-right: 25px;
  text-decoration: none;
  font-size: 15px;
  font-family: Poppins;}


  .navbar-logo{
    padding: 15px;
    width: 150px;
  }

header nav{
  float: right;
  text-align: right;
  background-color: #000000;
}

header ul{
  float: right;
  list-style-type: none;
  text-align: center;
}

header ul li 
{display: inline;
  margin-top: auto;
  margin-bottom: auto;}


header ul li a{
  color: #ffffff;
  padding-right: 25px;
  text-decoration: none;
  font-size: 15px;
  font-family: Poppins;
}

header ul li a:hover
{
  color: #ff204e;
}

header ul li a:active
{
  color: #ff204e;
}

li a:hover 
{
  color: #ff204e;
  }

  a:active {
    color: #ff204e;
  }

  .active {
    color: #ff204e;
    padding-right: 25px;
    text-decoration: none;
    font-size: 15px;
    font-family: Poppins;
  }
  

h1
{
color: #000000;
font-weight: 700;
font-size: 1.6rem;
text-align: center;
margin-bottom: 35px;
}

.titulo-blog
{
color: #ffffff;
font-weight: 600;
font-size: 1.6rem;
text-align: center;
margin-bottom: 45px;
}

h2{
  color:#000000;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}

.h2-section-home{
  color:#ec5f01;
  font-weight: 300;
  font-size: 1.0rem;
  text-align: center;
}

h3{
  color:#000000;
  font-weight: 600;
  font-size: 1.0rem;
}

p {
  color:#000000;
  font-weight:400;
  font-size: 0.7rem;
  text-align: justify;
}

.p-centrado
{
    color:#000000;
    font-weight:400;
    font-size: 0.7rem;
    text-align: center;
  }

.section-servicios-home
{margin-right: 2.5rem;
  margin-left: 2.5rem;
  display: flex;
  column-gap: 2.3rem;
}

.article-sevicios-home {
  padding: 25px;
  border-radius: 12px;
  align-items:center;
}

.image-article
{
width: 100%;
margin-right: auto;
margin-left:auto;
border-radius: 8px;
border-color: #ffffff;
border-width: 1px;
border-style: solid;
}


  .h1-card{
    font-weight: 700;
    font-size: 1.7rem;
    color:#ffffff;
    text-align: center;
    
}

.p-card {
  color: #ffffff;
  text-align: center;
}


button
{ 
background-color: #000000;
padding-left: 20px;
padding-right: 20px;
padding-top: 8px;
padding-bottom: 8px;
text-align: center;
text-decoration: none;
font-size: 0.8rem;
color: #ffffff;
font-weight:400;
margin-left: auto;
margin-right: auto;
border-style: solid;
border-color: #000000;
border-radius: 12px;
margin-top: 30px;
margin-bottom: 20px;
display: block;
cursor: pointer;

}


button:hover
{ 
background-color: #ffffff;
color: #000;

}

footer {
  margin-top: 35px;
  color: rgb(195, 195, 195);
  font-size: 0.6rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #000000;
  padding: 35px;
}

.footer-icons {
  display: flex;
  gap: 20px;
}


.social-icons {
  margin: 20px 0;
}
.social-icons a {
  margin: 0 10px;
  color: #dbdbdb;
  text-decoration: none;
  font-size: 26px;
}
.social-icons a:hover 
{
  color: #ff204e}

  .copyright {
    margin-top: 10px;
    font-size: 0.5rem;
    color: #dbdbdb;
    margin-bottom: auto;
    
}

.section-cabezal{
  width: 100%;
  margin:0px
}

hr {
  height: 8px;
  width: 45px;
  background-color:#ec5f01;
  border-radius: 6px;
  border-style: solid;
  border-color: #ffffff;
  margin:auto;
}

/* grid del área portfolio*/ 

.section-portfolio {
  display: grid;
  margin: auto;
  width: 80%;
  height: 100vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    "s1 s2 s3 s4"
    "s5 s6 s7 s7"
    "s5 s10 s11 s12";
  gap: 2px;
  justify-content: center;
  align-content: center;

}

.a-section {
  display: block; /* me aseguro que el enlace ocupe todo el área del contenedor */
  position: relative; /* Permite posicionar el contenido del enlace correctamente */
}


.section1 {
    background-image: url("../assets/img/Portfolio1.png");
    background-size: cover;
    background-position: center;
    grid-area: s1;
}

.section2 {
  background-image: url("../assets/img/Portfolio2.png");
  background-size: cover;
  background-position: center;
  grid-area: s2;
}

.section3 {
  background-image: url("../assets/img/Portfolio3.png");
  background-size: cover;
  background-position: center;
  grid-area: s3;
}

.section4 {
  background-image: url("../assets/img/Portfolio4.png");
  background-size: cover;
  background-position: center;
  grid-area: s4;
}

.section5 {
  background-image: url("../assets/img/Portfolio5.png");
  background-size: cover;
  background-position: center;
  grid-area: s5;
}

.section6 {
  background-image: url("../assets/img/Portfolio6.png");
  background-size: cover;
  background-position: center;
  grid-area: s6;
}

.section7 {
  background-image: url("../assets/img/Portfolio7.png");
  background-size: cover;
  background-position: center;
  grid-area: s7;
}

.section10 {
  background-image: url("../assets/img/Portfolio10.png");
  background-size: cover;
  background-position: center;
  grid-area: s10;
}

.section11 {
  background-image: url("../assets/img/Portfolio11.png");
  background-size: cover;
  background-position: center;
  grid-area: s11;
}

.section12 {
  background-image: url("../assets/img/Portfolio12.png");
  background-size: cover;
  background-position: center;
  grid-area: s12;
}


/* articulos página Servicios */

.article-container {
  display: flex;
  align-items: flex-start;
  margin: 5%;
}
.article-container img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
.article-content {
  margin-left: 20px;
  max-width: 70%;
}
.article-content h2 {
  margin-top: 0;
  text-align: left;
  font-weight: 700;
}
.article-content p {
  margin-bottom: 15px;
}
.article-content .btn {
  background-color: #000000;
padding-left: 20px;
padding-right: 20px;
padding-top: 8px;
padding-bottom: 8px;
border-radius: 8px;
text-align: center;
text-decoration: none;
font-size: 0.8rem;
color: #ffffff;
font-weight:600;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
margin-bottom: 20px;
display: inline-block;
border-color: #000000;
border-width: 1px;
border-style: solid;
}

.article-content .btn:hover {
background-color: #ff204e;
padding-left: 20px;
padding-right: 20px;
padding-top: 8px;
padding-bottom: 8px;
border-radius: 8px;
text-align: center;
text-decoration: none;
font-size: 0.8rem;
color: #ffffff;
font-weight:600;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
margin-bottom: 20px;
display: inline-block;
border-color: #ff204e;
border-width: 1px;
border-style: solid;
}

.divider {
  margin: auto;
  border: none;
  width: 90%;
  height: 1px;
  background-color:#00000085
}


.form-container {
  max-width: 500px;
  margin: auto;
}
.form-container label {
  display: block;
  margin: 10px 0 5px;
  font-weight: 600;
}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #000;

}
.form-container textarea {
  height: 100px;
  resize: none;
}
.category-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.category-buttons label {
  flex: 1;
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
.category-buttons input[type="radio"] {
  display: none;
}
.category-buttons input[type="radio"]:checked + label {
  background-color: #000;
  color: #fff;
}
.form-container .submit-btn {
display: flex;
align-items: center;
justify-content: center;
background-color: #000000;
padding-left: 20px;
padding-right: 20px;
padding-top: 8px;
padding-bottom: 8px;
border-radius: 8px;
text-align: center;
text-decoration: none;
font-size: 0.8rem;
color: #ffffff;
font-weight:600;
  cursor: pointer;
}

.divider-empty {
  margin: auto;
  border: none;
  width: 100%;
  height: 25px;
  background-color:#ffffff00
}

/* Blog */


.bg-blog {
  
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #575A89;
}

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 90%;
  gap: 20px;
  margin: auto;
}
article.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(25% - 20px); /* Ajustar ancho según el gap */
  text-align: center;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}
article.card:hover {
  transform: scale(1.05);
}
.card img {
  width: 75%;
  height: auto;
  border-bottom: 1px solid #ddd;
  margin-top: 25px;
}
.card-content {
  padding: 20px;
}
.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0;
}
.card-button {
  display: inline-block;
  background-color: #000000;
padding-left: 20px;
padding-right: 20px;
padding-top: 8px;
padding-bottom: 8px;
border-radius: 8px;
text-align: center;
text-decoration: none;
font-size: 0.7rem;
font-weight: 500;
color: #ffffff;
  cursor: pointer;
}

.card-button:hover {
  background-color: #6f729d;
  font-weight: 500;
color: #ffffff;
}

.blog-button-blanco
{background-color: #fff;
color: #575A89;
border: none;
cursor: pointer;
}

.blog-button-blanco:hover {
  background-color: #000000;
color: #ffffff;
}


/* RESPONSIVE (y que Dios me ayude!) */


@media (max-width:1024px){
    
  header{
      background-color: #000;
      height: auto;
  }

  .navbar li a{
      color: black;
  }
}


@media (max-width:768px){
  header{
      flex-direction: column;
      justify-content:center;
      align-items: center;
  }
  .navbar li a{
    margin: auto;
      font-size: 1.0rem;
      line-height: 1.0rem;
  }
}
  
  /* Pequeñas pantallas (hasta 456px) */
  @media only screen and (max-width: 456px) {
    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .navbar-logo {
      padding: 5px;
      width: 100px;
      margin-bottom: 10px;
    }
  
    header nav {
      width: 100%;
    }
  
    header ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      width: 100%;
    }
  
    header ul li {
      margin: 0;
      width: 100%;
    }
  
    header ul li a {
      display: block;
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
    }

    .active {
      color: #ff204e;
      padding-right: 0px;
      text-decoration: none;
      font-family: Poppins;
    }
  
    .section-cabezal {
      display: none;
    }
  
    .section-servicios-home {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      flex-wrap: wrap; /* Para permitir el cambio de línea en dispositivos pequeños */
    }
    
    .article-sevicios-home {
      flex: 1;
      min-width: 200px;
      max-width: 300px;
      margin-bottom: 20px;
      padding: 20px;
      background-color: #f4f4f4;
      border-radius: 10px;
      text-align: center;
    }
    
    .article-sevicios-home img.image-article {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }
    
    .button {
      margin-top: 10px;
      padding: 10px 20px;
      background-color: #333;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    .button:hover {
      background-color: #555;
    }
  
  

  .section-portfolio {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
      "s1 s2"
      "s3 s4"
      "s5 s6"
      "s7 s7"
      "s10 s11"
      "s12 s12";
  }
}

/* Pantallas medianas (457px y mayores) */
@media only screen and (min-width: 457px) {
  /* Ajustes adicionales para pantallas de 480px y mayores */
  

  header {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  

header ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

header ul li a{
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
  font-family: Poppins;
}


.active {
  color: #ff204e;
  text-decoration: none;
  font-family: Poppins;
  text-align: center;
  align-items: center;
    text-align: center;
}

  .navbar-logo {
    width: 130px;
  }


  header ul li {
    margin: 3px;
  }

  .section-portfolio {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
      "s1 s2 s3"
      "s4 s5 s6"
      "s7 s7 s10"
      "s11 s12 s12";
  }


  .section-servicios-home {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; /* Para permitir el cambio de línea en dispositivos pequeños */
  }
  
  .article-sevicios-home {
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    text-align: center;
  }
  
  .article-sevicios-home img.image-article {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #555;
  }

}

/* Para pantallas mayores a 768px */
@media (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header nav {
    display: flex;
    align-items: center;
  }

  header ul {
    display: flex;
  }

  .active {
    color: #ff204e;
    text-decoration: none;
    font-family: Poppins;
    text-align: center;
    align-self: center;
  }

  .section-portfolio {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
      "s1 s2 s3"
      "s4 s5 s6"
      "s7 s7 s10"
      "s11 s12 s12";
  }
  
}

/* Pantallas grandes (1024px y mayores) */
@media only screen and (min-width: 1024px) {
  /* Ajustes adicionales para pantallas de 1024px y mayores */
  .section-portfolio {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
      "s1 s2 s3 s4"
      "s5 s6 s7 s7"
      "s5 s10 s11 s12";
  }
}

/* Pantallas grandes (1440px y mayores) */
@media only screen and (min-width: 1440px) {
  /* Ajustes adicionales para pantallas de 1440px y mayores */
  .section-portfolio {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
      "s1 s2 s3 s4"
      "s5 s6 s7 s7"
      "s5 s10 s11 s12";
  }
}

/* Otros estilos previos... */

/* Estilos responsivos para pantallas medianas */
@media (min-width: 458px) and (max-width: 1024px) {
  .section-servicios-home {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .article-sevicios-home {
    
    max-width: 980px; 
    margin:auto;
  }
}


/* Animaciones */

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


.text-shadow-drop-tl {
	-webkit-animation: text-shadow-drop-tl 0.6s ease-out infinite alternate-reverse both;
	        animation: text-shadow-drop-tl 0.6s ease-out infinite alternate-reverse both;
}

@-webkit-keyframes text-shadow-drop-tl {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    text-shadow: -6px -6px 18px rgba(236, 95, 1, 0.50);
  }
}
@keyframes text-shadow-drop-tl {
  0% {
    text-shadow: 0 0 0 rgba(236, 95, 1, 0);
  }
  100% {
    text-shadow: -6px -6px 18px rgba(236, 95, 1, 0.50);
  }
}