
@import 'variables';
@import 'mixins';
@import 'base';

body {
  font-family: $font-family;
  margin: 0px;
}

header {
  display: block;
  background-color: $primary-color;
  width: 100%;
  height: 80px;

  nav {
    float: right;
    text-align: right;
    padding-right: 20px;
    background-color: $primary-color;
  
  }

  ul {
    float: right;
    list-style-type: none;
    text-align: center;

    li {
      display: inline;
      margin-top: auto;
      margin-bottom: auto;

      a {
        color: $secondary-color;
        padding-right: 8px;
        padding-left: 8px;
        text-decoration: none;
        font-size: 15px;
        font-family: $font-family;

        &:hover, &:active {
          color: $accent-color;
        }
      }
    }
  }
}

.active {
  color: $accent-color;
}


button {
  @include button-style($primary-color, $secondary-color);
  transition: 0.9s;
}

h1 {
  @extend %base-title;
  color: $primary-color;
  font-size: 1.7rem;
  margin-bottom: 35px;
}

h2 {
  @extend %base-title;
  color: $primary-color;
  font-size: 1.4rem;
  text-align: center;
  padding: 20px;
}

h3 {
  color: $primary-color;
  font-weight: 600;
  font-size: 0.9rem;
}

p {
  color: $primary-color;
  font-weight: 400;
  font-size: 0.7rem;
  text-align: justify;
}

.p-centrado {
  color: $primary-color;
  font-weight: 400;
  font-size: 0.7rem;
  text-align: center;
}

.section-servicios-home {
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  display: flex;
  column-gap: 2.3rem;
}

.article-sevicios-home {
  padding: 25px;
  border-radius: 12px;
  align-items: center;
}

.image-article {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 8px;
  border-color: $secondary-color;
  border-width: 1px;
  border-style: solid;
}

.h1-card {
  font-weight: 700;
  font-size: 1.7rem;
  color: $secondary-color;
  text-align: center;
}

.p-card {
  color: $secondary-color;
  text-align: center;
}

footer {
  margin-top: 35px;
  color: rgb(195, 195, 195);
  font-size: 0.6rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: $primary-color;
  padding: 35px;

  .footer-icons {
    display: flex;
    gap: 20px;
  }

  .social-icons {
    margin: 20px 0;

    a {
      margin: 0 10px;
      color: #dbdbdb;
      text-decoration: none;
      font-size: 26px;
      &:hover {
        color: $accent-color;
      }
    }
  }

  .copyright {
    margin-top: 10px;
    font-size: 0.5rem;
    color: #dbdbdb;
    margin-bottom: auto;
  }
}

.section-cabezal {
width: 100%;
margin: 0px;
border-radius: 0px;
-webkit-animation: fade-in 1.2s ease-in both;
animation: fade-in 1.2s ease-in both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.titulo-blog {
  @extend %base-title;
  color: $secondary-color;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 35px;
  padding: 20px;
}


hr {
  height: 8px;
  width: 45px;
  background-color: $highlight-color;
  border-radius: 6px;
  border-style: solid;
  border-color: $secondary-color;
  margin: auto;
}

.section-portfolio {
  display: grid;
  margin: auto;
  width: $portfolio-width;
  height: $portfolio-height;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    "s1 s2 s3 s4"
    "s5 s6 s7 s7"
    "s5 s10 s11 s12";
  gap: $portfolio-gap;
  justify-content: center;
  align-content: center;

  .a-section {
    display: block; 
    position: relative;
  }

  .section1 {
    background-image: url("../assets/img/Portfolio1.png");
    background-size: cover;
    background-position: center;
    grid-area: s1;
  }
  
  .section2 {
    background-image: url("../assets/img/Portfolio2.png");
    background-size: cover;
    background-position: center;
    grid-area: s2;
  }
  
  .section3 {
    background-image: url("../assets/img/Portfolio3.png");
    background-size: cover;
    background-position: center;
    grid-area: s3;
  }
  
  .section4 {
    background-image: url("../assets/img/Portfolio4.png");
    background-size: cover;
    background-position: center;
    grid-area: s4;
  }
  
  .section5 {
    background-image: url("../assets/img/Portfolio5.png");
    background-size: cover;
    background-position: center;
    grid-area: s5;
  }
  
  .section6 {
    background-image: url("../assets/img/Portfolio6.png");
    background-size: cover;
    background-position: center;
    grid-area: s6;
  }
  
  .section7 {
    background-image: url("../assets/img/Portfolio7.png");
    background-size: cover;
    background-position: center;
    grid-area: s7;
  }
  
  .section10 {
    background-image: url("../assets/img/Portfolio10.png");
    background-size: cover;
    background-position: center;
    grid-area: s10;
  }
  
  .section11 {
    background-image: url("../assets/img/Portfolio11.png");
    background-size: cover;
    background-position: center;
    grid-area: s11;
  }
  
  .section12 {
    background-image: url("../assets/img/Portfolio12.png");
    background-size: cover;
    background-position: center;
    grid-area: s12;
  }
}

.article-container {
  display: flex;
  margin: 5%;
}
  img {
    max-width: 100%;
    height: auto;
  }

  .article-content {
    margin-left: 20px;
    max-width: 70%;}

    h2 {
      margin-top: 0;
      font-weight: 700;
    }

    p {
      margin-bottom: 15px;
    }

    .btn {
      @include button-style($primary-color, $secondary-color);
      font-weight: 600;
      margin: 30px auto 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      transition: 0.9s;
    }
  


.divider {
  margin: auto;
  border: none;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.52);
}

.form-container {
  max-width: 500px;
  margin: auto;

  label {
    display: block;
    margin: 10px 0 5px;
    font-weight: 600;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid $primary-color;
  }

  textarea {
    height: 100px;
    resize: none;
  }

  .category-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    label {
      flex: 1;
      padding: 10px;
      margin: 0 5px;
      border: 1px solid $primary-color;
      border-radius: 5px;
      font-size: 14px;
      text-align: center;
      cursor: pointer;
    }

    input[type="radio"] {
      display: none;

      &:checked + label {
        background-color: $primary-color;
        color: $secondary-color;
      }
    }
  }

  .submit-btn {
    @include button-style($primary-color, $secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
    transition: 0.9s;
  }
}

.divider-empty {
  margin: auto;
  border: none;
  width: 100%;
  height: 25px;
  background-color: #ffffff;
}

.bg-blog {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #575A89;
}



  article.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(25% - 20px);
    text-align: center;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 75%;
      height: auto;
      border-bottom: 1px solid #ddd;
      margin-top: 25px;
    }

    .card-content {
      padding: 20px;

      .card-title {
        font-size: 18px;
        font-weight: bold;
        margin: 15px 0;
      }

      .card-button {
        @include button-style($primary-color, $secondary-color);
        font-weight: 400;
        font-size: 0.7rem;
        transition: 0.9s;

        &:hover {
          background-color: $hover-bg-color;
          color: #ffffff;
          border: none;
        }
      }
    }
  }


.blog-button-blanco {
  @include button-style($secondary-color, #575A89);
  font-weight: 400;
  margin:auto;

  &:hover {
    background-color: $primary-color;
    color: $secondary-color;
  }
}

@media (max-width: 1024px) {
  header {
    background-color: $primary-color;
    height: auto;
  }

  

  .navbar li a {
    color: $primary-color;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

@media (max-width: 456px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .navbar-logo {
    padding: 5px;
    width: 100px;
    margin-bottom: 10px;
    
  }

  header nav {
    width: 100%;
  }

  header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  header ul li {
    margin: 0;
    width: 100%;
  }

  header ul li a {
    display: block;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }

  

  .section-cabezal {
    display: none;
  }


  .section-servicios-home {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
  }

  .article-sevicios-home {
    justify-content: center;
    min-width: 200px;
    max-width: 300px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    text-align: center;
    display: grid; 
    place-items: center;
    img {
      max-width: 100%;
      height: auto;
      border-radius: 0px;
      
    }
    

    .button {
      margin-top: 10px;
      padding: 10px 20px;
      background-color: #333;
      color: $secondary-color;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      display: flex;
      text-align: center;
      display: grid; 
    place-items: center;
      &:hover {
        background-color: #555;
      }
    }
  }

  .section-portfolio {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
      "s1 s2"
      "s3 s4"
      "s5 s6"
      "s7 s7"
      "s10 s11"
      "s12 s12";
  }
}

@media (min-width: 457px) {
  header {
    margin-top: 0px;
    display: flex;
    align-items: center;
    text-align: center;
  }

  .navbar-logo {
    width: 130px;
  }

  header ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  header ul li a {
    color: $secondary-color;
    text-decoration: none;
    font-size: 15px;
    font-family: Poppins;
  }

  

  .section-portfolio {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
      "s1 s2 s3"
      "s4 s5 s6"
      "s7 s7 s10"
      "s11 s12 s12";
  }
}

@media (min-width: 768px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  header nav {
    display: flex;
    align-items: center;
  }

  header ul {
    display: flex;
  }

  

  .section-portfolio {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
      "s1 s2 s3"
      "s4 s5 s6"
      "s7 s7 s10"
      "s11 s12 s12";
  }
}

@media (min-width: 1024px) {
  .section-portfolio {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
      "s1 s2 s3 s4"
      "s5 s6 s7 s7"
      "s5 s10 s11 s12";
  }
}

@media (min-width: 1440px) {
  .section-portfolio {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
      "s1 s2 s3 s4"
      "s5 s6 s7 s7"
      "s5 s10 s11 s12";
  }
}

@media (min-width: 458px) and (max-width: 1024px) {
  .section-servicios-home {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .article-sevicios-home {
      max-width: 980px;
      margin: auto;
    }
  }
}

.tracking-in-expand {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
}

.text-shadow-drop-tl {
  animation: text-shadow-drop-tl 0.6s ease-out infinite alternate-reverse both;

  @keyframes text-shadow-drop-tl {
    0% {
      text-shadow: 0 0 0 rgba($highlight-color, 0);
    }
    100% {
      text-shadow: -6px -6px 18px rgba($highlight-color, 0.50);
    }
  }
}


/* Estilos generales para main content de pagina Servicios */


.article-container {
  display: flex;
  flex-direction: row;
  
  margin-bottom: 20px;
}

.article-container .image {
  flex: 1 1 40%;
  padding-right: 20px;
}

.article-container .article-content {
  flex: 1 1 60%;
  padding-left: 20px;
}

.article-container img {
  width: 100%;
  height: auto;
}

.divider {
  margin: 40px 0;
  border-color: $accent-color;
 
}





/* Estilos para max-width: 1024px */
@media screen and (max-width: 1024px) {
  
  h1 {
    font-size: 1.7rem;
    text-align: center;
}

  .article-container {
      flex-direction: column;
  }

  .article-content {
    max-width: 100%;
  }

  .article-container .image,
  .article-container .article-content {
      padding: 0;
      margin-bottom: 20px;
      align-items: center;
  }

  .btn {
      
    width: 80%;
    text-align: center;
    padding: 15px;
    background-color: #000000;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    margin: auto;

}


}

/* Estilos para max-width: 768px */
@media screen and (max-width: 768px) {
 
  h1 {
      font-size: 1.7rem;
      text-align: center;
  }

  .article-container .image,
  .article-container .article-content {
      padding: 0;
  }

  .article-content {
    max-width: 100%;
  }
  .article-container img {
      width: 100%;
      height: auto;
  }

  .btn {
      
      width: 80%;
      text-align: center;
      padding: 12px;
      background-color: #000000;
      color: #fff;
      text-decoration: none;
      border-radius: 8px;
      margin:auto;
  }

  .article-container .image,
  .article-container .article-content {
      padding: 0;
  }

  .article-container img {
      width: 100%;
      height: auto;
  }

  .btn {
      padding: 8px;
      font-size: 0.8rem;
  }

  .divider {
      margin: 20px 0;
  }


}

/* Estilos para max-width: 458px */
@media screen and (max-width: 458px) {
  body {
      
      margin: 0px;
  }

  h1 {
      font-size: 1.5rem;
      text-align: center;
  }

  .article-container .image,
  .article-container .article-content {
      padding: 0;
  }

  .article-container img {
      width: 100%;
      height: auto;
  }

  .btn {
      padding: 8px;
      font-size: 0.7rem;
      width: 80%;
  }

  .divider {
      margin: 20px 0;
  }
}


.boton {
  display: block;
  margin: 20px auto;
  text-decoration: none;
}

header{
  margin: 0px;
}


.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 90%;
  gap: 20px;
  margin: auto;
  justify-content: center;

  article.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;

    // Estilo por defecto para pantallas grandes (4 columnas)
    width: calc(25% - 20px);
  }
}

// Estilos para pantallas entre 768px y 1024px
@media (max-width: 1024px) and (min-width: 768px) {
  .card-container {
    article.card {
      width: calc(50% - 20px); // 2 columnas
    }
  }
}

// Estilos para pantallas menores a 768px
@media (max-width: 768px) {
  .card-container {
    article.card {
      width: calc(100% - 20px); // 1 columna
    }
  }
}

// Contacto

.form-container {
  max-width: 800px; 
  margin: 0 auto; 
  padding: 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 8px; 
}

form {
  display: flex;
  flex-direction: column; 
  gap: 15px; 
}

.category-buttons {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
  justify-content: center; 
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  font-size: 16px; 
}

.submit-btn {
  background-color: #ff204e;
  color: white; 
  border: none; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 4px; 
  transition: background-color 0.3s; 
}

.submit-btn:hover {
  background-color: #e01c44; 
}

// Media Queries para Responsividad
@media (max-width: 768px) {
  .form-container {
    padding: 15px; // Ajusta el relleno en pantallas más pequeñas
  }

  .category-buttons {
    flex-direction: column; // Cambia los botones a una columna en lugar de una fila
    align-items: center; // Centra los botones
  }
}



