$primary-color: #000000;
$secondary-color: #ffffff;
$accent-color: #ff204e;
$highlight-color: #ec5f01;
$hover-bg-color: #6f729d;
$portfolio-width: 80%;
$portfolio-gap: 2px;
$portfolio-height: 100vh;
$font-family: "Poppins", sans-serif;